.wrapper {
  background: rgba(0, 208, 162, 0.09);
  border: 2px solid #00d0a2;
  border-radius: 3px;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  margin-left: 30px;
  font-size: 72px;
  white-space: nowrap;
}

.footer {
  margin-top: 47px;
  text-align: center;
}
